@import '../vars';

.header {
  color: $title-color;
  display: flex;
  height: 80px;
  top: 10px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-bottom: 0;
}
.title {
  font-size: 18px;
  font-weight: bold;
  font-family: $text-font;
  justify-content: space-between;
}
.title__border {
  border-top: medium;
  border: thin solid $borderTitle-color;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}
