@import "../vars.scss";
@import "../Media.scss";


.news__item {
    font-family: $text-font;
    align-items: center;    
    display: flex;
    // height: 100px;
    
    border-bottom: thin solid black;
    width: 50%;
}
.number__item{
    font-family: $numbers-font;
    font-size: 80px;
    font-style: italic;
    color: gainsboro;
    margin: 10px;
}
.title__item{
    max-width: 80%;
}
.news__item a {
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    margin-left: 10px;
    text-decoration: none;
    max-width: 80%;
}

.news__item a:hover {
    
    text-decoration: underline;
}