@import "./Vars.scss";
@import "./Media.scss";

body {
  margin: 0;
  font-family: $text-font;
  
}

* {
  box-sizing: border-box;
}

.widget_losmasleidos{
  margin: 0px;
  height: 667px;
  width: 375px;
  padding: 3rem;

}