// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Serif&display=swap);

// Font Variables
$text-font: 'Montserrat', sans-serif;
$numbers-font:'PT Serif', serif;

// Color Variables
$title-color: #084F8D;
$borderTitle-color: #a6cae3;
$borderNews-color: #f2f2f2;
$news-color: #212121;
$numbers-color: #e5e5e5;
